body {background-color:black;font-family:arial;color:white;}
h1{color:grey;font-family:verdana}
.maindiv {
    background-color: white;
    color: black;
    width: 300px;
    padding:20px;
    border-radius:25px;
    margin:auto
}

#principal{
    position: relative;
    left:20%;
}
#rate{
    position: relative;
    left:25%;
}
#rate_val{
    position: relative;
    left:28%;
}
#years{
    position: relative;
    left:10%;
}


